profiles {
  
  alvismace {
  
    params{
      image = 'None'
    }
  
    executor{
      name = 'slurm'
      queueSize = 100
      submitRateLimit = '120 min'
    }

    process {
      time = '4d'
      accelerator = 1
      executor = 'slurm'
      
      shell = ['/bin/bash', '-l', '-c']
      beforeScript = 'module load Python/3.10.8-GCCcore-12.2.0 && source /mimer/NOBACKUP/groups/snic2022-5-322/zzy_data/my_python310/bin/activate'

      withLabel: 'pinn' {
        queue = 'alvis'
        clusterOptions = '-N 1 -n 1 -A naiss2025-5-447 --gpus-per-node=V100:1 -J mace'
      }
    }

    singularity {
      enabled = false
    }
  }

}
